.headlin {
  text-align: center;
}

.scorecard {
  display: block;
  
  margin: auto;
 box-sizing: border-box;
 width: 300px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 2);
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 20px;
background-color: antiquewhite;
}
.btn{
  padding: 4px;
  display: inline;
  margin: 10px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  cursor: pointer;

}
.btn-inc{
  background-color: green;
 
}
.btn-dec{
  background-color: red;
 
}
.scoreB{
  text-align: center;
}
.scoreA{
  text-align: center;
}
.TeamA{
  text-align: center;
}
.TeamB{
  text-align: center;
}
.Container{
  border: 4px solid black;
  width: 450px;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(133, 238, 199);
  
}